.container {
  margin: 80px auto;
  max-width: 1400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.recipe-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipe-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease;
}

.recipe-item:hover {
  background: rgba(232, 247, 252, 0.9);
  transform: translateY(-5px);
}

.recipe-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.recipe-item-content {
  flex: 1;
  padding: 20px;
}

.recipe-item h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  color: darkblue;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.recipe-item p {
  margin: 10px 0;
  color: #555;
  font-size: 18px;
  line-height: 1.6;
}

.recipe-item a {
  background: linear-gradient(
    to right,
    rgba(230, 136, 14, 0.788),
    rgba(230, 159, 8, 0.781)
  );
  color: white;
  border-radius: 25px;
  font-weight: 700;
  min-width: 150px;
  padding: 12px 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  margin-right: 10px;
}

.recipe-item a:hover {
  background: linear-gradient(
    to right,
    rgba(255, 153, 0, 0.6),
    rgba(255, 208, 0, 0.507)
  );
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .recipe-item {
    flex-direction: column;
  }

  .recipe-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0;
  }

  .recipe-item-content {
    text-align: center;
  }

  .recipe-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .recipe-item p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .recipe-item a {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
  }
}
