.contact-form {
  display: block;
  margin: 40px auto;
  width: 600px;
  padding: 0 40px;
}
.contact-form input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px auto;
  padding: 8px;
  font-family: "Inter";
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
}
.contact-form span {
  color: rgba(38, 228, 4, 0.93);
}
.contact-form button {
  height: 30px;
  width: 80px;
  align-items: center;
  border: none;
  background-color: rgb(16, 210, 61);
  font-weight: 700;
  color: #000;
  cursor: pointer;
}
