@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #fcf1d4;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img {
  width: 4rem;
}

.logo h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.tag {
  color: #be931d;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.login {
  padding: 1rem 2rem;
  background-color: #f4d06f;
  color: #333;
  border-radius: 0.3rem;
}

.header {
  width: 100%;
  background-color: #fcf1d4;
  padding: 4.5rem;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0rem 3.2rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  justify-content: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-title {
  font-size: 5rem;
  color: #333;
  line-height: 1.05;
}

.hero-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.recipe-btn {
  padding: 1rem 2rem;
  background-color: #f4d06f;
  color: #000;
  font-weight: 700;
  font-size: 1.8rem;
  border: none;
  border-radius: 9px;
  font-family: inherit;
  transition: all 0.3s ease;
  margin-top: 2rem;
}

.recipe-btn:hover {
  background-color: #d3b153;
  cursor: pointer;
}

.hero-img {
  width: 50rem;
}

.hero-customers {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.customers-imgs {
  display: flex;
}

.customer-img {
  width: 4.8rem;
  border-radius: 50%;
  border: 4px solid #fcf1d4;
  margin-left: -16px;
}

.customers-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.customers-number {
  color: #ab924e;
  font-weight: 800;
}

.featured {
  max-width: 140rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ab924e;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.6rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

footer {
  width: 100%;
  padding: 2rem 3rem;
  background-color: #fcf1d4;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.login-form {
  max-width: 50rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 48rem;
  margin: 5rem auto 1rem;
  padding: 3rem 3rem;
  border: 1px solid #d8d8d8;
  font-size: 1.8rem;

  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(163, 163, 163, 0.5);
  transition: all 0.5s ease;
}

.login-form:hover {
  box-shadow: none;
}

.form-title {
  font-size: 2.8rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-inputs label {
  font-weight: 700;
}

.form-inputs input {
  padding: 1rem 1rem;
  border: none;
  background-color: #fafafa;
  border-left: 3px solid green;
  color: #777;
  font-size: 1.6rem;
}

.form-inputs input:hover,
.form-inputs input:focus {
  outline: none;
}
.form-inputs input::placeholder {
  font-size: 1.6rem;
}

.login-btn {
  padding: 1rem 2rem;
  background-color: #e2b537;
  border: none;
  color: #000;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.login-btn:hover {
  background-color: #be931d;
}

.contact {
  display: flex;
  margin: 1rem auto;
  margin-bottom: 8rem;
  width: 124rem;
  background-color: #fcf1d4;
  height: 500px;
  border-radius: 9px;
}

.contact-heading {
  padding: 5rem 3rem;
  text-align: center;
}

.mg-btm {
  margin-bottom: 0;
}

.Rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.rating-card {
  border: 1px solid #ccc;
  border-radius: 58px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.star {
  cursor: pointer;
}


#boddy{
  /*background-color:#d3b153;*/
  background-image: url(https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1380&q=80);
  background-size:cover;
  color:#fcf1d4;
}
#chefM{
    display:flex;
  

}

#chefF{
  display:flex;
  background-color:"";
}


#imgchef1{
  height:850px;
  content:"Chef Moringa";
  padding:40px;
  opacity: 0.8;
  border-radius: 25%;
}

#imgchef2{
  /* height:750px; */
  width:90%;
  margin-left:10%;
  padding: 40px; 
  opacity: 0.9;
  border-radius: 20%;
  
}

#chef1con{
  font-size:large;
  margin-left:4%;
  margin-right:10%;
  margin-top:-150px;
  margin-bottom: 20%;
  cursor: pointer;

}
aside.hover{
  color: blue;
  font-size:50px;
}
#chef2con{
  font-size:20px;
  margin-left:2%;
  margin-right:37%;
  margin-top:-150px;
  cursor:pointer;


}



#label{
    color: grey;
    opacity: 0.5 ;
    font-size:70px;
    justify-content: center;
    display:flex;
    margin-top:10%;
    height: 70px;
   
    
}


#body{
  background-image: url(https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1380&q=80);
  background-size: cover;
  
  display:grid;
  grid-template-columns: 50% 50%;
}

#body div{
  color:white;
  display:grid;
  margin-top:10%;
  width:100%;
  background-color: none;
}
#content{
  background-color:gold;
}



/* #secondmain{
  grid-template-columns: 50% 50%;
  width:100%;
} */
/* # div{
  background-color: blue;
  padding:30px;
} */
